/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px black;
    background-color: lavenderblush;
}
div#car-image{
    width: 50%;
    float: top right;
}
h3{
  text-decoration: underline;
  font-size: 16px;
}
p{
  font-style: italic;
  font-weight: bold;
}
#links{
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  font-weight: bold;
}