
body{
    background-repeat: no-repeat;
    background-size: cover;
}
#typed{
    font-size: 35px;
    color: white;
    text-align: center;
}

h1{
    justify-content: center;
    font-size: 60px;
    color: white;
    text-align: center;
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:"ROND" 0;
  font-weight: bold;
}

#selected-character{
    font-family:cursive;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
}

.character-img{
    align-items: center;
    border-color: black 3px;
    border-style: solid;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    margin: 0;
}
.selected {
    border-color: lemonchiffon;         /* Change border color when selected */
    transform: scale(1.1);        /* Slightly enlarge the selected image */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); /* Add a glowing green shadow */
}

#continue-button{
    position: absolute;
    font-size: 20px;
    border-style: solid;
    display: block;
    margin: 0 auto;
    left: 40%;
    top: 100%;
    width: 300px;
    height: 50px;
    background-color: silver;
    font-family: cursive;
    box-shadow: darkgray;
    font-style: italic;
}

#selection-message{
    font-size: 35px;
    color: white;
    text-align: center;
}