/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dashed 3px black;
    background-color: lavenderblush;
  }
  body{
    background-color: palevioletred;
  }
  title{
    text-decoration: underline;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h1{
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
  }
  div#filestructure{
    place-self: left;
    border-radius: 5px;
  }
 div#codestructure{
  place-content: right;
  border-radius: 5px;
 }
